.card {
  background-color: #EEE;
  border: 1px solid #BBB;
  border-radius: 3px;
  margin: 20px 0;
  padding: 20px;
}

.card h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.card p {
  margin-bottom: 0;
}

.card-focus {
  background-color: #76CAEE;
}
