{% extends "template.html" %}
{% block body %}

  <div class="container">
    <h1>Fast Card</h1>

    <form class="search">
      <input type="text" class="form-control input-lg" id="searchInput" placeholder="Search">
    </form>

    <div class="container-cards">
      <div class="card">
        <h4>Title</h4>
        <p>Hello this is some text.</p>
      </div>

      <div class="card">
        <h4>Title</h4>
        <p>Hello this is some text.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='keyboard_control.js') }}"></script>
{% endblock %}
